*.xcuserstate
Samples/Cordova/ExampleProject/package-lock.json
Samples/Cordova/ExampleProject/platforms/android/.idea/
Samples/Cordova/ExampleProject/plugins/
Samples/Cordova/ExampleProject/platforms/android/.gradle/
Samples/Cordova/ExampleProject/platforms/android/build/
Samples/Cordova/ExampleProject/platforms/android/CordovaLib/build/
npm-debug.log
node_modules
.DS_Store
.idea
.gradle
Samples/Cordova/ExampleProject/plugins/clevertap-cordova/ExampleProject/platforms/android/app/build
Samples/Cordova/ExampleProject/plugins/clevertap-cordova/ExampleProject/platforms/android/CordovaLib/build
Samples/Cordova/ExampleProject/plugins/clevertap-cordova/ExampleProject/platforms/ios/Pods
Samples/Cordova/ExampleProject/plugins/clevertap-cordova/ExampleProject/platforms/ios/Podfile.lock
src/android/google-services.json
Samples/Cordova/ExampleProject/platforms/android/app/src/main/google-services.json
Samples/Cordova/ExampleProject/platforms/android/app/google-services.json
Samples/Cordova/ExampleProject/platforms/android/app/src/main/assets/

Samples/IonicCapacitor/IonicCapReactProject/.project
Samples/IonicCapacitor/IonicCapReactProject/.idea
Samples/IonicCapacitor/IonicCapReactProject/.gradle
Samples/IonicCapacitor/IonicCapReactProject/android/app/build
Samples/IonicCapacitor/IonicCapReactProject/android/.gradle
Samples/IonicCapacitor/IonicCapReactProject/android/.idea
Samples/IonicCapacitor/IonicCapReactProject/android/.settings
Samples/IonicCapacitor/IonicCapReactProject/android/capacitor-cordova-android-plugins/.gradle
Samples/IonicCapacitor/IonicCapReactProject/android/capacitor-cordova-android-plugins/build
Samples/IonicCapacitor/IonicCapReactProject/node_modules