*.xcuserstate
Starter/platforms/android/.idea/
Starter/platforms/android/.gradle/
Starter/platforms/android/build/
Starter/platforms/android/CordovaLib/build/
npm-debug.log
node_modules
.DS_Store
.idea
.gradle
