*.xcuserstate
ExampleProject/platforms/android/.idea/
ExampleProject/platforms/android/.gradle/
ExampleProject/platforms/android/build/
ExampleProject/platforms/android/CordovaLib/build/
npm-debug.log
node_modules
.DS_Store
.idea
.gradle
ExampleProject/plugins/clevertap-cordova/ExampleProject/platforms/android/app/build
ExampleProject/plugins/clevertap-cordova/ExampleProject/platforms/android/CordovaLib/build