<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.clevertap.cordova.CleverTapPlugin" version="1.0.0">
    <name>CleverTap</name>
    <description>CleverTap Plugin for Cordova/PhoneGap</description>
    <license>Commercial</license>
    <keywords>CleverTap</keywords>

    <js-module src="www/CleverTap.js" name="CleverTap">
        <clobbers target="CleverTap" />
    </js-module>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="CleverTapPlugin">
                <param name="ios-package" value="CleverTapPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CleverTapPlugin.h" />
        <source-file src="src/ios/CleverTapPlugin.m" />

        <framework src="src/ios/CleverTapSDK.framework" custom="true"/>
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="UIKit.framework" />
        <framework src="CoreLocation.framework" />
        
    </platform>

    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="CleverTapPlugin" >
                <param name="android-package" value="com.clevertap.cordova.CleverTapPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/CleverTapAndroidSDK.jar" target-dir="libs/" />
        <source-file src="src/android/android-support-v4.jar" target-dir="libs" />
        <source-file src="src/android/CleverTapPlugin.java" target-dir="src/com/clevertap/cordova/" />

    </platform>

</plugin>
